/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--grey);
  color: var(--black);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  word-wrap: break-word;
  /* footer support */
  margin-bottom: 100px;

}

button,
input {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  outline: none;
}

input[type='text'],
input[type='number'] {
  cursor: text;
}

/* CSS START */
@font-face{
    font-family: Poppins;
    src: url(./fonts/Poppins-Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family: Poppins;
    src: url(./fonts/Poppins-Medium.ttf);
    font-weight: 500;
}
@font-face{
    font-family: Poppins;
    src: url(./fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
}
@font-face{
  font-family: Poppins;
  src: url(./fonts/Poppins-Bold.ttf);
  font-weight: 900;
}
html {
    font-family: Poppins;
}

:root {
--mainwidth: 400px;

}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background: black;
    gap: 5px;
    width: calc(var(--mainwidth)*2/3);
    height: calc(var(--mainwidth)*2/3);
    margin-bottom: calc(var(--mainwidth)/20);
}

.gameBoard>*{
    display: grid;
    align-items: center;
    justify-items: center;
    background: gold;
    font-size: calc(var(--mainwidth)/10);
    width: calc(var(--mainwidth)*130/600);
    height: calc(var(--mainwidth)*130/600);

}

body {
    display: grid;
    place-content: center;
    background: rgb(255, 235, 123);
    padding: 10px;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: gold;
    padding: calc(var(--mainwidth)/20);
    width: var(--mainwidth);
    box-shadow: 0px 0px 5px 0px black;
}
header {
    background: rgb(0, 0, 0);
    width: var(--mainwidth);
    font-size: calc(var(--mainwidth)/10);
    padding: calc(var(--mainwidth)/30);
    color: white;
    box-shadow: 0px 0px 5px 0px black;
    font-weight: 500;
}

.menu-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(var(--mainwidth)/30);
    z-index: -1;
}

.menu-overlay.active {
    z-index: 9;

}

input {
    width: 30%;
    height: 40px;
    border-radius: 10px;
    background: rgb(216, 184, 0);
    border: 1px solid goldenrod;
}

.message {
    height: calc(var(--mainwidth)/10);
}

button {
    padding: 10px;
    border-radius: 10px;
    background: white;
}

button:hover {
    box-shadow: 0px 0px 5px 0px black;
}

button:active {
    background: black;
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  
}